* {
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: #282c34;
    font-family: sans-serif;
    font-size: 3rem;
}

.grid-item:hover{
    filter: opacity(0.9);
    transform: scale(1.04);
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 4px;
    grid-auto-rows: minmax(100px, auto);
    padding: 5px;
    grid-auto-flow: row;
}

@media (min-width: 600px){
    .wide {
        grid-column: span 2;
    }

    .tall {
        grid-row: span 2;
    }
}

.grid-item{
    display: flex;
    background-color: aqua;
    border: 1px solid white;
    border-radius: 5px;
}

/* .wide{
    grid-column: span 2;

}

.tall{
    grid-row: span 2;
} */